# Ignore build results
# Properties/Signing/
bin/
obj/
[Bb]uild/
[Bb]uilds/
.vs/
Github-Login-Legends.bat
DeleteAllGithubWorkflowRuns.bat

# Rider IDE
.idea/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log
*signing-log.txt

# VS Code settings
.vscode/

# VS local history
.localhistory/

# Backup & crash reports
*.bak
*.tmp
*.old
*.orig
*.rej

# NuGet packages
*.nupkg
*.snupkg
.nuget/
packages/
*.symbols.nupkg

# ASP.NET/Entity Framework artifacts
appsettings.Development.json
appsettings.*.json

# Publish artifacts
*.publishsettings
#*.pfx
*.key
*.cer

# Signing certificate
#*.pfx
#*.snk

# Others
_ReSharper*/
*.DotSettings.user

# Rider
.idea/
/ResXManager.config.xml
