<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">
  <Identity
    Name="__IDENTITY_NAME__"
    Publisher="__PUBLISHER__"
    Version="__VERSION__"
    ProcessorArchitecture="x64" />
  <Properties>
    <DisplayName>OTP Harbor</DisplayName>
    <PublisherDisplayName>__PUBLISHER_DISPLAY_NAME__</PublisherDisplayName>
    <Description>Local-first TOTP and 2FA authenticator with an encrypted vault.</Description>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily
      Name="Windows.Desktop"
      MinVersion="10.0.19041.0"
      MaxVersionTested="10.0.26100.0" />
  </Dependencies>
  <Resources>
    <Resource Language="en" />
    <Resource Language="de" />
    <Resource Language="fr" />
    <Resource Language="es" />
  </Resources>
  <Applications>
    <Application
      Id="App"
      Executable="TOTP.UI.Avalonia.Desktop.exe"
      EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="OTP Harbor"
        Description="Local-first TOTP and 2FA authenticator"
        BackgroundColor="#0C1C33"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
        <uap:SplashScreen
          Image="Assets\SplashScreen.png"
          BackgroundColor="#0C1C33" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>
